<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

    <header class="bg-green-500 p-4 flex items-center justify-between">
        <div class="flex items-center">
            <img src="./log.jpg" alt="Logo de Juguería" class="h-10 mr-2">
            <h1 class="text-white text-2xl font-bold">Juguería Delicias Naturales</h1>
        </div>
        <nav class="mt-2">
            <a href="index.html#productos" class="text-white mr-4">Productos</a>
            <a href="index.html#pagos" class="text-white mr-4">Formas de Pago</a>
            <a href="login.html" class="text-white">Iniciar Sesión</a>
            <a href="crud.html" class="text-white ml-4">Administrar Productos</a>
        </nav>
    </header>

    <section id="crud-productos" class