<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juguería Delicias Naturales</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body class="bg-cover bg-center" style="background-image: url('/static/imagenes/frutas-fondo.jpg');">

    <header class="bg-green-500 p-4 flex items-center justify-between">
        <div class="flex items-center">
            <img src="./imagenes/log.jpg" alt="Logo de Juguería" class="h-10 mr-2">
            <h1 class="text-white text-2xl font-bold">Juguería Delicias Naturales</h1>
        </div>
        <nav class="mt-2">
            <a href="#productos" class="text-white mr-4">Productos</a>
            <a href="#pagos" class="text-white mr-4">Formas de Pago</a>
            <a href="login.html" class="text-white">Iniciar Sesión</a>
            <a href="crud.html" class="text-white ml-4">Administrar Productos</a>
        </nav>
    </header>

    <section id="productos" class="container mx-auto mt-8">
        <h2 class="text-2xl font-bold mb-4">Nuestros Jugos</h2>

        <div id="lista-productos" class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="border rounded p-4">
                <img src="./imagenes/platano.jpg" alt="Jugo de Plátano" class="mb-2">
                <h3>Jugo de Plátano</h3>
                <p>Precio: S/ 6.00</p>
            </div>
            <div class="border rounded p-4">
                <img src="./imagenes/fresa.webp" alt="Jugo de Fresa" class="mb-2">
                <h3>Jugo de Fresa</h3>
                <p>Precio: S/ 7.50</p>
            </div>
            <div class="border rounded p-4">
                <img src="./imagenes/mand.jpg" alt="Jugo de Mango" class="mb-2">
                <h3>Jugo de Mango</h3>
                <p>Precio: S/ 7.00</p>
            </div>
            <div class="border rounded p-4">
                <img src="./imagenes/durazno.jpg" alt="Jugo de Durazno" class="mb-2">
                <h3>Jugo de Durazno</h3>
                <p>Precio: S/ 8.00</p>
            </div>
            <div class="border rounded p-4">
                <img src="./imagenes/papaya.jpg" alt="Jugo de Papaya" class="mb-2">
                <h3>Jugo de Papaya</h3>
                <p>Precio: S/ 6.50</p>
            </div>
        </div>
    </section>

    <section id="pagos" class="container mx-auto mt-8">
        <h2 class="text-2xl font-bold mb-4">Formas de Pago</h2>
        <p>Aceptamos efectivo, tarjetas de crédito/débito y transferencias bancarias.</p>
    </section>


    <footer class="bg-gray-900 text-white text-center p-4 fixed bottom-0 w-full">
        <p>&copy;Todos los derechos reservados.</p>
        <p>Desarrollado con ❤ por Alejandro Soto</p>
    </footer>


    <script src="/static/js/carrusel.js"></script>
</body>

</html>